/** Header **/
#header-nav {
	background-color: #999999;	
	border-radius: 5;
	border: 5;
}

.navbar-brand {
  float: left;
  height: 100px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.dish-header {
	text-align: center;
}

.container{
	padding-left: 1.0em;
	padding-right: 1.0em;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a {
	color: darkred;
	background-color: ivory;
	text-align:  center;
}

#nav-list a:hover {
	background:  #E7E7E7;
}

#nav-list a span {
	font-size:  1.8em;
}

#title {
	font-size:  3.0em;
	font-weight: bolder;
}

#main-content {
	background-color: dimgray;
	color: white;
}

